body {
    background-color: rgb(255, 123, 15);
    font-family: "Lucida Console", Courier, monospace;
    color: black;
}

a {
    text-decoration: none;
}

.navigation
{
    left: 0;
    background-color: black;
}

.navigation a {
    color: white;
}

.selected {
    color: darkred !important;
}

.content {
    justify-content: center;
}

.main {
    margin: 0 10vw;
    line-height: 1.5rem;
}

.logo{
    display: block;
    margin: 5vh auto;
    width: 60%;
    height: auto;
}

.main .trailer {
    width: 100%;
    height: 50vh;
}