body {
    background-color: rgb(255, 123, 15);
    font-family: "Lucida Console", Courier, monospace;
    color: black;
    left: 0;
}

.team-mayhem, .title {
    font-family: Courier New, Courier, monospace;
    color: black !important;
}

.title {
    font-size: 3em;
}

p {
    line-height: 1.1em;
}

a {
    text-decoration: none;
}

.navigation
{
    left: 0;
    font-size: 1.2em;
    background-color: black;
    color: white;
    padding: 10px;
}

.navigation a:visited, a {
    color: white;
}

.navigation a:hover {
    color: gray;
    transition: color 0.65s ease-out;
}

.selected {
    color: darkred !important;
}

.content {
    justify-content: center;
}

.main {
    margin: 0 10vw;
    line-height: 1.5rem;
}

.text-box {
    background-color: rgb(255, 163, 98);
    outline-width: 4px;
    outline-color: white;
    outline-style: solid;
}

.logo{
    display: block;
    margin: 5vh auto;
    width: 50%;
    height: auto;
}

.main .trailer {
    width: 100%;
    height: 50vh;
    outline-width: 2px;
    outline-style: solid;
    outline-color: white;
}

.main .description
{
    margin: 15px;
}

.profile {
    margin: 0 0 6vh 6vw;
    width: 70vw;
    padding: 1px 10px;
}

.profile a {
    font-style: italic;
    color: #fafafa;
}

ul li {
    margin-bottom: 2vh;
}

.footnote {
    display: block;
    margin: 0 10px;
    font-size: 0.75em;
    text-align:center;
}